<div class="bg-gradient-to-b from-red-50 to-white min-h-screen py-8">
  <div class="container mx-auto px-4 space-y-8">
    <!-- Encabezado Principal -->
    <div class="bg-red-600 text-white rounded-lg shadow-lg p-6 text-center">
      <h1 class="text-4xl font-extrabold">Prueba DataScience</h1>
    </div>

    <!-- Filtros -->
    <div class="bg-white shadow-lg rounded-lg p-6 border-l-4 border-red-600">
      <h2 class="text-lg font-semibold text-gray-600 mb-4">Filtros</h2>
      <app-filters (filtersChanged)="updateFilters($event)"></app-filters>
    </div>

    <!-- Indicadores -->
    <div
      class="bg-white shadow-lg rounded-lg p-6 space-y-6 border-l-4 border-red-600"
    >
      <h2 class="text-xl font-semibold text-gray-700">Indicadores</h2>
      <app-indicators [filters]="filters"></app-indicators>
    </div>

    <!-- Sección Principal -->

    <!-- Gráfico de Ventas -->
    <div class="bg-white shadow-lg rounded-lg p-6 border-t-4 border-red-600">
      <h3 class="text-lg font-medium text-gray-600 mb-4">Gráfico de Ventas</h3>
      <app-sales-chart [filters]="filters"></app-sales-chart>
    </div>

    <!-- Top Clientes -->
    <div class="bg-white shadow-lg rounded-lg p-6 border-t-4 border-red-600">
      <h3 class="text-lg font-medium text-gray-600 mb-4">Top 10 Clientes</h3>
      <app-top-clients [filters]="filters"></app-top-clients>
    </div>
  </div>
</div>
